<div *ngIf="!this.authService.isAuthenticated">
    You need to log in before using this feature
</div>
<div *ngIf="this.authService.isAuthenticated" id="logged-in-page">
    <div class="main">
        <h1>Manage Choir Data</h1>
        <div id="choir-table">
            <p-table
                [value]="reorganizedData" 
                [rows]="10"
                [paginator]="true"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Contact Email</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.description }}</td>
                        <td>{{ data.contactEmail }}</td>
                        <td>{{ data.locationCity }}</td>
                        <td>{{ data.locationState }}</td>
                        <td>
                            <button (click)="editChoirInformation(data.id)" ><ng-icon name="heroPencilSquareSolid"></ng-icon></button>
                            <button (click)="deleteChoirInformation(data.id, data.name)"><ng-icon name="heroTrashSolid"></ng-icon></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

