<main>
  <div id="container">
    <div id="logo">
      <logo />
    </div>
    <div class="navigation">
      <ul>
          <li>
              <a href="#" class="first">View All Choirs</a>
          </li>
          <li>
            <a href="#" class="first">Chorus Search</a>
        </li>
          <li>
              <a href="#">Manage Chorus Data</a>
          </li>
      </ul>
    </div>
    <div id="content">
      <!-- <h1>Welcome to Chorus Connector!</h1>
      <div>
        <p>
          This is a minimal template for an Angular app. Make your music here!
        </p>
      </div> -->
      <h1>All Choirs</h1>
      
    </div>
  </div>
</main>


<router-outlet />
