<main>
  <div id="container">
    <div id="logo">
      <logo />
    </div>
      <nav class="navigation">
        <ul>
          <li ><a class="first" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">View All Choirs</a></li>
          <li><a class="first" routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li>
          <!-- <li><a class="first" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li> -->
          <li *ngIf = "isLoggedIn"><a routerLink="/manage-data" routerLinkActive="active" ariaCurrentWhenActive="page">Manage Choir Data</a></li>
        </ul>
      </nav>
    <div id="content">
      <router-outlet />
    </div>
  </div>
</main>