<!-- <div>
    <img src="assets/img/logo.jpg" />
</div> -->
<div id="logo-container">
    <div id="images">
        <div class="top-icons">
            <div class="user-icons"><ng-icon name="heroUserGroupSolid"></ng-icon></div>
            <div id="orange_note"><ng-icon name="heroMusicalNoteSolid"></ng-icon></div>
            <div class="user-icons"><ng-icon name="heroUserGroupSolid"></ng-icon></div>
        </div>
        <div></div>
        <div class="middle-icons">
            <div id="blue_note"><ng-icon name="heroMusicalNoteSolid"></ng-icon></div>
            <div id="globe"><ng-icon name="heroGlobeAmericasSolid"></ng-icon></div>
            <div id="green_note"><ng-icon name="heroMusicalNoteSolid"></ng-icon></div>
        </div>
        <div></div>
        <div class="bottom-icons">
            <div class="user-icons"><ng-icon name="heroUserGroupSolid"></ng-icon></div>
            <div id="yellow_note"><ng-icon name="heroMusicalNoteSolid"></ng-icon></div>
            <div class="user-icons"><ng-icon name="heroUserGroupSolid"></ng-icon></div>
        </div>
    </div>
    <div id="words">
        <div id="title1">CHORUS</div>
        <div id="title2">CONNECTOR</div>
    </div>
</div>