/* You can add global styles to this file, and also import other style files */
body {
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    text-align: center;
}

label {
    font-weight: bold;
    padding: 0.5em;
}

th {
    border: 1px solid #777 !important;
    font-weight: bold;
    padding: 0.25em;
}

td {
    border: 1px solid #777 !important;
    padding: 0.25em;
}