<div>
    <h1>Search for a group</h1>
    <div>
        <div class="form-line">
            <div class="form-label">
                <label>City:</label>
            </div>
            <div class="form-input">
                <input type="text" placeholder="Search City" [(ngModel)]="inputCity">
            </div>
        </div>
        <div class="form-line">
            <div class="form-label">
                <label>State:</label>
            </div>
            <div class="form-input">
                <select [(ngModel)]="inputState">
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DC">DC</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                </select> 
            </div>
        </div>
        <p>
            <button id="search-button" (click)="search()">Search</button>
        </p>
        
    </div>
    <div id="search-results" *ngIf="results">
        <h1>Choirs in {{inputCity}} {{inputState}}</h1>
      <p-table
        [value]="filteredData" 
        [rows]="10"
        [paginator]="true"
      >
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Contact Email</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.description }}</td>
                <td>{{ data.contactEmail }}</td>
                <td>{{ data.locationCity }}</td>
                <td>{{ data.locationState }}</td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    <div id="no-results" *ngIf="noResults">
        No Choirs found
    </div>
</div>
